<h1>Editing item</h1>

<%= render 'form' %>

<%= link_to 'Show', diagram_item_path( @diagram, @item), :class => 'btn btn-default' %> |
<%= link_to 'Back', diagram_path(@diagram), :class => 'btn btn-default' %>
